<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 <bean autowire="byName" class="io.springcore.Q10.Triangle" id="triangle"></bean>
  
<bean class="io.springcore.Q10.Point" id="pointA">
  <property name="x" value="0"></property>
  <property name="y" value="0"></property>
</bean>
  
<bean class="io.springcore.Q10.Point" id="pointB">
  <property name="x" value="-20"></property>
  <property name="y" value="0"></property>
</bean>
  
<bean class="io.springcore.Q10.Point" id="pointC">
   <property name="x" value="20"></property>
   <property name="y" value="0"></property>
</bean>
</beans>